<ion-header>
    <ion-toolbar>
        <ion-title>
            Main
        </ion-title>
        <button class="btn btn-primary" (click)="signOut()"  item-right><ion-icon name="close"></ion-icon> Sign Out</button>
    </ion-toolbar>
</ion-header>

<ion-content padding>


        <ion-card>
            <img src="assets/shapes.svg">
          <ion-item>
            <ion-icon name="car" slot="start"></ion-icon>
            <ion-label>Vezzel XXX</ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
          </ion-item>
        
          <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
        </ion-card>

</ion-content>