<ion-header>
    <ion-toolbar>
        <ion-title style="padding-top:10px">
            Buy&Sell
        </ion-title>
        <button class="btn btn-primary" (click)="signOut()"  style="float:right"><ion-icon name="close"></ion-icon> Sign Out</button>
    </ion-toolbar>
</ion-header>

<ion-content padding>


        <ion-card *ngFor="let item of (retrievedPosts | async)">
            <img src="https://firebasestorage.googleapis.com/v0/b/sell-and-buy-aae28.appspot.com/o/images%2F{{ item.file }}?alt=media&token=f7e8165f-d040-45b6-94a7-563cad700a53">
          <ion-item>
            <ion-icon name="car" slot="start"></ion-icon>
            <ion-label>{{ item.title }}</ion-label>
            
          </ion-item>
        
          <ion-card-content>
              <span>RS: {{ item.price }}</span> <br>
            {{ item.description }} <br>
            {{item.category}}<ion-button fill="outline" slot="end" [routerLink]="['/details',item.id]">View</ion-button>
          </ion-card-content>
        </ion-card>

</ion-content>